/*Judy's work on bottom half of page starting with 2 Miles Northwest */

#twomiles {
  outline: dotted 5px orange;
  max-width: 1400px;
  height: 60px;
}

#weeklyforecast li {
  /*outline: dotted 3px orange;*/
  display: inline-block;

}

#days {
  outline: dotted 5px blue;
  margin-left: 10px;

}

#days li {
  outline: dotted 1px black;
  padding: 10px;
  margin-top: 0px;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;

}


#forecastimages {
  outline: dotted 5px green;
  max-width: 1400px;
  max-height: 100px;
  margin-left: 0px;
  padding-left:  25px;
  padding-right: 15px;
}

#weeklyforecast img {
  /*outline: dotted 5px orange;*/
  padding: 20px 20px;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 10px;
  margin-right: 0px;



}

#weathercaptions li {
  outline: dotted 2px red;
  padding: 10px 10px;
  text-align: center;
}

#temperaturecaptions li {
  utline: dotted 2px blue;
  padding: 10px 10px;
  text-align: center;
}
